.container {
  height: 35vh;
  width: 50vw;
  padding: 2rem;
  background: rgba(202, 65, 6, 0.315);
  /* background: rgba(255, 255, 255); */
  border-radius: 15px;
  box-shadow: 0 0 25px 7px rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Password */
.pass__field {
  width: 18rem;
  border: none;
  outline: none;
  padding: 0.3rem 0.8rem;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.148);
  color: white;
  border-radius: 5px;
  text-align: center;
}

/* Input Container */
.input__container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.input__container input,
label {
  cursor: pointer;
}
/* Buttons */
.btn__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  /* width: 14rem; */
  width: 100%;
  padding: 0.3rem 0.4rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(193, 3, 236);
  color: white;
}

.btn:hover {
  transition: 0.7s ease-in-out;
  background-color: rgb(196, 2, 196);
  transform: scaleY(1.1);
}

.btn:active {
  transition: 0.6s ease-in-out;
  background: rgb(255, 3, 121);
}
/* .generate__btn {
  background-color: green;
  color: white;
}
.copy__btn {
  background-color: rgb(0, 28, 128);
  color: white;
} */
